/* Global Rules */
:root {
  --main-color: orange;
}

body {
  font-family: "Roboto", sans-serif;
}

.contact-us .container h2, .testimonials h2, .ourFeatures h2, .our-gallery h2, .our-skills h2, .container.about .info h2 {
  color: var(--main-color);
  font-weight: 900;
  font-size: 30px;
  text-align: center;
}

.time-line .left .content::before,
.time-line .right .content::before {
  content: "";
  border-width: 20px;
  border-style: solid;
  position: absolute;
  top: 20px;
}

.contact-us .overlay, header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* end global rules */
/* start setting */
.setting {
  -webkit-box-shadow: 2px 0 1px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 0 1px rgba(0, 0, 0, 0.05);
  background-color: white;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  left: -200px;
  z-index: 550;
  height: 100%;
  width: 200px;
  position: fixed;
}
.setting i {
  position: absolute;
  right: -30px;
  background-color: var(--main-color);
  bottom: 5px;
  padding: 5px;
  cursor: pointer;
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.setting i:hover {
  transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
}
.setting .reset {
  position: absolute;
  background-color: var(--main-color);
  bottom: 0;
  left: 0;
  color: #fff;
  border: none;
  padding: 6px 8px;
  cursor: pointer;
  font-weight: 600;
}

.set-show {
  left: 0;
}

i.open-set {
  transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
}

.content-setting {
  padding: 10px;
}
.content-setting .colors h4 {
  font-size: 25px;
  text-align: center;
  margin: 0;
}
.content-setting .colors ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}
.content-setting .colors ul li {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  opacity: 0.2;
}
.content-setting .colors ul li.activeC {
  opacity: 1;
}
.content-setting .colors ul li:First-child {
  background-color: #009688;
}
.content-setting .colors ul li:nth-child(2) {
  background-color: #4CAF50;
}
.content-setting .colors ul li:nth-child(3) {
  background-color: #03A9F4;
}
.content-setting .colors ul li:nth-child(4) {
  background-color: #E91E63;
}
.content-setting .colors ul li:last-child {
  background-color: orange;
}
.content-setting .random-back .open-rand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content-setting .random-back .open-rand p.option {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.content-setting .random-back .open-rand div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2px;
}
.content-setting .random-back .open-rand div p.check {
  width: 30px;
  height: 15px;
  background-color: var(--main-color);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  position: relative;
  padding-left: 10px;
  cursor: pointer;
}
.content-setting .random-back .open-rand div p.check span {
  background-color: white;
  width: 9px;
  height: 9px;
  display: block;
  position: absolute;
  top: 3px;
  bottom: 3px;
  right: 3px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
}
.content-setting .random-back .open-rand div .label {
  font-size: 12px;
}
.content-setting .random-back .open-rand div .disable {
  background-color: rgb(180, 180, 180) !important;
}
.content-setting .random-back .open-rand div .disable span {
  left: 3px !important;
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
}

/* end setting */
/* start nav bar */
nav {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  position: fixed;
  color: white;
  z-index: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 10px 30px 15px;
  background-color: rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 15px;
  }
}
nav .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  font-weight: 600;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
nav ul li {
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  position: relative;
}
nav ul li a {
  color: inherit;
}
nav ul li::before {
  width: 0%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  content: "";
  position: absolute;
  bottom: -8px;
  left: -5px;
  height: 2px;
  background-color: var(--main-color);
}

.active,
nav li:hover {
  color: var(--main-color);
  position: relative;
}
.active::before,
nav li:hover::before {
  width: calc(100% + 10px);
}

/* end nav bar */
/* start landing page */
header {
  background-image: url(../imags/01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
}
header::before {
  background-color: rgba(0, 0, 0, 0.7);
}
header .container * {
  margin: 0;
  color: rgb(255, 255, 255);
}
@media (max-width: 1199px) {
  header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .container .text {
    text-align: center;
    margin: 0 auto;
  }
  header .container .text h1 {
    font-size: 20px;
  }
  header .container .text p {
    font-size: 13px;
  }
}
header .container .text {
  position: absolute;
  top: 50%;
  max-width: 500px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
@media (max-width: 768px) {
  header .container .text {
    max-width: 95%;
  }
}
header .container .text span {
  color: var(--main-color);
}
header .container .text p {
  margin-top: 15px;
  line-height: 1.5;
}

/* end landing page */
/* start about us */
.container.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container.about .info p {
  font-size: 18px;
  line-height: 1.8;
}
@media (max-width: 768px) {
  .container.about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

/* end about us */
/* start our skills */
.our-skills {
  background-color: rgb(218, 218, 218);
  padding: 15px 0 50px;
}
.our-skills .skills {
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.our-skills .skills .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  padding: 0 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.our-skills .skills .skill .skill-name {
  width: 50px;
  text-align: center;
  font-weight: 600;
}
.our-skills .skills .skill .skill-progress {
  background-color: #eee;
  height: 20px;
  width: calc(100% - 80px);
  position: relative;
}
.our-skills .skills .skill .skill-progress span {
  background-color: var(--main-color);
  height: 100%;
  width: 0;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  display: inline-block;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

/* end our skills */
/* start our gallery */
.our-gallery {
  padding: 50px 0;
}
.our-gallery .photos {
  text-align: center;
}
.our-gallery .photos img {
  width: 190px;
  cursor: pointer;
}
.our-gallery .photos img:hover {
  z-index: 50;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
@media (max-width: 1200px) {
  .our-gallery .photos img:hover {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }
}

.popup-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 600;
}

.popBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border: white solid 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .popBox {
    width: 100%;
  }
}
.popBox p {
  position: absolute;
  top: -50px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: var(--main-color);
}
.popBox .popImg {
  max-width: 100%;
}

/* end our gallery */
/* start timeline */
.time-line {
  background-color: rgb(218, 218, 218);
  padding: 25px 0;
}
.time-line .timeLineContent {
  overflow: hidden;
  position: relative;
}
.time-line .timeLineContent::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: var(--main-color);
  position: absolute;
  top: 0;
  right: 50%;
  margin-left: -1px;
}
.time-line .timeLineContent .year {
  background-color: var(--main-color);
  color: white;
  margin: 20px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px 7px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  z-index: 2;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.time-line .left,
.time-line .right {
  width: calc(50% - 45px);
  margin-bottom: 40px;
  position: relative;
  text-align: center;
}
.time-line .left::before,
.time-line .right::before {
  content: "";
  border: var(--main-color) solid 3px;
  width: 14px;
  height: 14px;
  position: absolute;
  z-index: 3;
  top: 87px;
  background-color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.time-line .left .content,
.time-line .right .content {
  background-color: #fff;
  padding: 20px;
  margin-top: 60px;
  position: relative;
}
.time-line .left .content h3,
.time-line .right .content h3 {
  color: var(--main-color);
  font-weight: bold;
  font-size: 20px;
}
.time-line .left {
  float: left;
}
.time-line .left .content::before {
  border-color: transparent transparent transparent #fff;
  right: -40px;
}
.time-line .left::before {
  right: -54px;
}
.time-line .right {
  float: right;
}
.time-line .right .content::before {
  border-color: transparent #fff transparent transparent;
  left: -40px;
}
.time-line .right::before {
  left: -56px;
}

.clearFix {
  clear: both;
}

@media (max-width: 767px) {
  .time-line .left,
.time-line .right {
    width: 100%;
    margin-bottom: 20px;
  }
  .time-line .left .content,
.time-line .right .content {
    margin-top: 0 !important;
  }
  .time-line .year + .left,
.time-line .year + .right {
    margin-top: 70px;
  }
}
/* end timeline */
/* start our features */
.ourFeatures {
  padding: 60px;
}
.ourFeatures .container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minMax(270px, 1fr));
}
.ourFeatures .container .featBox {
  text-align: center;
}
.ourFeatures .container .featBox h3 {
  position: relative;
}
.ourFeatures .container .featBox h3::before {
  content: "";
  background-color: var(--main-color);
  height: 3px;
  width: 50px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -25px;
}
.ourFeatures .container .featBox img {
  width: 100px;
}
.ourFeatures .container .featBox p {
  padding-top: 15px;
}

/* end our features */
/*start testimonials*/
.testimonials {
  position: relative;
  padding: 50px 0 0 0;
}
.testimonials .ts-content {
  padding: 50px;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 30px auto;
  grid-template-columns: repeat(2, auto);
  gap: 30px;
}
@media (max-width: 768px) {
  .testimonials .ts-content {
    -ms-grid-columns: (auto)[1];
    grid-template-columns: repeat(1, auto);
  }
}
.testimonials .ts-content::before {
  content: "";
  height: 100%;
  width: 50%;
  background-color: var(--main-color);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.testimonials .ts-content::after {
  content: "";
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  z-index: -1;
}
.testimonials .ts-content .box {
  background-color: white;
  text-align: left;
  padding: 10px;
  overflow-x: hidden;
}
.testimonials .ts-content .box > p {
  font-weight: 500;
  font-style: italic;
  line-height: 1.7;
  margin-top: 0;
}
.testimonials .ts-content .box .person-info .img {
  width: 80px;
  height: 80px;
  background-color: eee;
}
.testimonials .ts-content .box .person-info h4 {
  font-size: 25x;
  font-weight: 900;
}
.testimonials .ts-content .box .person-info p {
  color: black;
  font-size: 16px;
  margin-bottom: 0;
}

/*end testimonials*/
/* start contect us */
.contact-us {
  min-height: 600px;
  background-image: url(../imags/contact.png);
  background-size: cover;
  position: relative;
  padding: 80px 0;
}
.contact-us .overlay {
  background-color: rgba(255, 255, 255, 0.6);
}
.contact-us .container h2 {
  padding-top: 40px;
}
.contact-us .container form {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
@media (max-width: 768px) {
  .contact-us .container form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .contact-us .container form .left,
.contact-us .container form .right {
    width: 100% !important;
  }
}
.contact-us .container form .left,
.contact-us .container form .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 49%;
}
.contact-us .container form .left input,
.contact-us .container form .left textarea,
.contact-us .container form .right input,
.contact-us .container form .right textarea {
  margin-bottom: 10px;
  padding: 10px 15px;
  border: solid #ccc 1px;
  background-color: rgba(218, 218, 218, 0.19);
  height: 40px;
}
.contact-us .container form .left input:focus,
.contact-us .container form .left textarea:focus,
.contact-us .container form .right input:focus,
.contact-us .container form .right textarea:focus {
  outline: 1px solid var(--main-color);
}
.contact-us .container form .left input:focus::-webkit-input-placeholder, .contact-us .container form .left textarea:focus::-webkit-input-placeholder, .contact-us .container form .right input:focus::-webkit-input-placeholder, .contact-us .container form .right textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.contact-us .container form .left input:focus::-moz-placeholder, .contact-us .container form .left textarea:focus::-moz-placeholder, .contact-us .container form .right input:focus::-moz-placeholder, .contact-us .container form .right textarea:focus::-moz-placeholder {
  opacity: 0;
  transition-duration: 0.3s;
}
.contact-us .container form .left input:focus:-ms-input-placeholder, .contact-us .container form .left textarea:focus:-ms-input-placeholder, .contact-us .container form .right input:focus:-ms-input-placeholder, .contact-us .container form .right textarea:focus:-ms-input-placeholder {
  opacity: 0;
  transition-duration: 0.3s;
}
.contact-us .container form .left input:focus::-ms-input-placeholder, .contact-us .container form .left textarea:focus::-ms-input-placeholder, .contact-us .container form .right input:focus::-ms-input-placeholder, .contact-us .container form .right textarea:focus::-ms-input-placeholder {
  opacity: 0;
  transition-duration: 0.3s;
}
.contact-us .container form .left input:focus::placeholder,
.contact-us .container form .left textarea:focus::placeholder,
.contact-us .container form .right input:focus::placeholder,
.contact-us .container form .right textarea:focus::placeholder {
  opacity: 0;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.contact-us .container form .left textarea,
.contact-us .container form .right textarea {
  height: 140px;
}
.contact-us .container form .left input[type=submit],
.contact-us .container form .right input[type=submit] {
  background-color: var(--main-color);
  border: none;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

/* end contect us */
/* start footer */
footer {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 15px;
  font-size: 18px;
}
footer span {
  color: rgb(247, 41, 41);
}

/* end footer */